
base_dir = '/home/olavur/experiments/06-11-2019_exolink'
params {
    whitelist = "$base_dir/resources/whitelist/4M-with-alts-february-2016.txt"
    reference = "$base_dir/resources/gatk_bundle/Homo_sapiens_assembly38/Homo_sapiens_assembly38.fasta"
    dbsnp = "$base_dir/resources/gatk_bundle/Homo_sapiens_assembly38.dbsnp138/Homo_sapiens_assembly38.dbsnp138.vcf"
    targets = "$base_dir/resources/sureselect_human_all_exon_v6_utr_grch38/S07604624_Padded.bed"
    bcbins = 10
    outdir = "outs"
}

process {
    executor = 'local'
    memory = '20GB'
    cpus = 4
}

executor {
    name = 'local'
    cpus = 40
    memory = '200GB'
    queueSize = 100
}

// Capture exit codes from upstream processes when piping.
process.shell = ['/bin/bash', '-euo', 'pipefail']
