
base_dir = '/home/olavur/experiments/06-11-2019_exolink'

params {
    rundir = "/fargen/data/raw/181213_NS500347_0048_AHCMT3BGX5/"
    samplesheet = "run_27.csv"
    whitelist = "$base_dir/resources/whitelist/4M-with-alts-february-2016.txt"
    outdir = "outs"
}

process {
    executor = 'local'
    memory = '16GB'
    cpus = 1
    // Allocate all available resources to the bcl2fastq process.
    withName: bcl2fastq {
        executor = 'local'
        memory = '400GB'
        cpus = 90
    }
}

executor {
    name = 'local'
    cpus = 90
    memory = '400GB'
    queueSize = 100
}

