
params {
    rundir = '/path/to/illumina/run/directory'
    samplesheet = '/path/to/samplesheet'
    whitelist = '/path/to/barcode/whitelist'
    outdir = "outs"
}

process {
    executor = 'local'
    memory = '16GB'
    cpus = 1
    // Allocate all available resources to the bcl2fastq process.
    withName: bcl2fastq {
        executor = 'local'
        memory = '400GB'
        cpus = 90
    }
}

executor {
    name = 'local'
    cpus = 90
    memory = '400GB'
    queueSize = 100
}

